# Database Configuration
DATABASE_NAME=database_name
DATABASE_USER=database_user
DATABASE_PASSWORD=database_password
DATABASE_HOST=database_host
DATABASE_PORT=database_port

# Django
DJANGO_SECRET_KEY=django_secret_key # Django secret key
JWT_SECRET_KEY=jwt_secret_key # JWT secret key

# Email Configuration
EMAIL_HOST = smtp_host
EMAIL_PORT = smtp_port # SMTP port
EMAIL_USE_TLS = smtp_use_tls

EMAIL_HOST_USER = email_host_user
EMAIL_HOST_PASSWORD = email_host_password
DEFAULT_FROM_EMAIL = default_from_email
FRONTEND_URL=frontend_url
ACCESS_TOKEN_LIFETIME = 1
REFRESH_TOKEN_LIFETIME = 7
